# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
env/
venv/
ENV/

# Ignore credentials and private info
credential/

# Ignore output and downloads
downloads/
output/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db
